<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Aspirations</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud wow bounceIn text-primary"></i>
                    <h3>AWS</h3>
                    <p class="text-muted">Planning to get certified in AWS</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Machine Learning</h3>
                    <p class="text-muted">Attempting to get a foot in the door</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-eye wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>AI</h3>
                    <p class="text-muted">Searching for resources to learn and projects that use AI</p>
                </div>
            </div>
        </div>
    </div>
</section>